  <header class="menu-bg">
    <div class="menu">
      <div class="menu-logo">
        <a href="#">Time</a>
      </div>
      <nav class="menu-nav">
        <ul>
          <li><a href="#Eduardo">Eduardo</a></li>
          <li><a href="#Guilherme">Guilherme</a></li>
          <li><a href="#Macauly">Macauly</a></li>
          <li><a href="#Willian">Willian</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="col-md-12 d-flex justify-content-center mt-2"><h2>Contate-nos</h2></div>

  <!-- Eduardo -->
  <section class="sobre" id="Eduardo">
    <div class="sobre-info">
      <div>
        <img src="https://github.com/eduardoandr.png" alt="" />
        <h2>Eduardo</h2>
      </div>
      <div>
        <p>
          Me chamo Eduardo Andrade, tenho 27 anos, sou da cidade de Suzano em SP.
          Busco uma oportunidade de trabalho na área DEV para continuar aprendendo 
          e me desenvolvendo, estou motivado, com vontade de fazer a diferença e ajudar a criar o futuro!!
        </p>
        <div>
          <ul class="">
            <li><i class="fa fa-envelope-o ml-2 mr-2" aria-hidden="true"></i> <a href="https://accounts.google.com/signin/v2/identifier?continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&service=mail&sacu=1&rip=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin" target="blank">edu3839@hotmail.com</a></li>
            <li><i class="fa fa-whatsapp ml-2 mr-2" aria-hidden="true"></i> <a href="https://wa.me/5511997855289
              " target="blank">+55 11 99785-5289</a> </li>
            <li><i class="fa fa-linkedin-square ml-2 mr-2" aria-hidden="true"></i> <a href="https://www.linkedin.com/in/eduardo-andrade-9a588a21a/" target="blank">https://www.linkedin.com/in/eduardo-andrade-9a588a21a/</a> </li>
            <li><i class="fa fa-github-square ml-2 mr-2" aria-hidden="true"></i><a href="https://github.com/eduardoandr" target="blank">https://github.com/eduardoandr</a></li>
            
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- Fim Eduardo -->

  <!-- Guilherme -->
  <section class="sobre" id="Guilherme">
    <div class="sobre-info">
      <div>
        <img src="https://github.com/Cosmos-Blood.png" alt="" />
        <h2>Guilherme</h2>
      </div>
      <div>
        <p>
          Me chamo Guilherme, possuo 18 anos e sempre estive engajado no ambiente virtual, onde por diversão acabei por aprender um pouco sobre hardwares, softwares e pude desenvolver um inglês básico. Estou em busca pela a minha primeira oportunidade de emprego para colocar em prática todo o conhecimento obtido durante o Bootcamp, e me desenvolver cada vez mais! 
        </p>
        <div>
          <ul>
            <li><i class="fa fa-envelope-o ml-2 mr-2" aria-hidden="true"></i> <a href="https://login.live.com/" target="blank">cosmos_blood@outlook.com</a></li>
            <li><i class="fa fa-whatsapp ml-2 mr-2" aria-hidden="true"></i> <a href="https://wa.me/5511959559918" target="blank">+55 11 95955-9918</a> </li>
            <li><i class="fa fa-linkedin-square ml-2 mr-2" aria-hidden="true"></i> <a href="https://www.linkedin.com/in/gui-lherme-campos/" target="blank">https://www.linkedin.com/in/gui-lherme-campos/</a> </li>
            <li><i class="fa fa-github-square ml-2 mr-2" aria-hidden="true"></i><a href="https://github.com/Cosmos-Blood" target="blank">https://github.com/Cosmos-Blood</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- Fim Guilherme -->

  <!-- Macauly -->
  <section class="sobre" id="Macauly">
    <div class="sobre-info">
      <div>
        <img src="https://github.com/MacaulyFragoso.png" alt="" />
        <h2>Macauly</h2>
      </div>
      <div>
        <p>
          Eu sou o Macauly e não, eu não estou saindo do ramo de cinema, eu tenho 22 anos e sou natural de Franco da Rocha
          Formado Técnico em Logística e Auxiliar em Desenvolvimento de Sistemas pela ETEC Dr. Emílio Hernandez Aguilar
          Tenho experiência em suporte técnico em TI, em uma multinacional brasileira em Engenharia Consultiva
          Onde aprendi muito sobre atendimento ao cliente, conquistei uma promoção com pouco tempo de casa, e tive o privilégio de treinar um jovem aprendiz.
          Podemos conversar um pouco mais através dos meus contatos, irei adorar conhecer você! Agradecido pela atenção.
        </p>
        <div>
          <ul>
            <li><i class="fa fa-envelope-o ml-2 mr-2" aria-hidden="true"></i> <a href="https://login.live.com/" target="blank">macauly.fragoso@outlook.com.br</a></li>
            <li><i class="fa fa-whatsapp ml-2 mr-2" aria-hidden="true"></i> <a href="https://wa.me/5511970893950" target="blank">+55 11 97089-3950
            </a> </li>
            <li><i class="fa fa-linkedin-square ml-2 mr-2" aria-hidden="true"></i> <a href="https://www.linkedin.com/in/macaulyfragoso" target="blank">https://www.linkedin.com/in/macaulyfragoso</a> </li>
            <li><i class="fa fa-github-square ml-2 mr-2" aria-hidden="true"></i><a href="https://github.com/MacaulyFragoso" target="blank">https://github.com/MacaulyFragoso</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- Fim Macauly -->

  <!-- Willian -->
  <section class="sobre mb-5" id="Willian">
    <div class="sobre-info">
      <div>
        <img src="https://github.com/WillianX47.png" alt="" />
        <h2>Willian</h2>
      </div>
      <div>
        <p>
          Meu nome é Willian Souza, tenho 21 anos e amo tecnologia computacional. Atualmente curso ciência da computação na Anhembi Morumbi e criei diversos projetos pequenos, como calculadora, bancos utilizando POO e outros maiores em grupo, como o iFeira utilizando Ionic, que visa criar um iFood para feirantes, e uma rede social da ODS 7, que visa aproximar as pessoas do tema energia sustentável.
        </p>
        <div>
          <ul class="">
            <li><i class="fa fa-envelope-o ml-2 mr-2" aria-hidden="true"></i> <a href="https://accounts.google.com/signin/v2/identifier?continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&service=mail&sacu=1&rip=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin" target="blank">willianx47@gmail.com</a> </li>
            <li><i class="fa fa-whatsapp ml-2 mr-2" aria-hidden="true"></i> <a href="https://wa.me/5511954518743" target="blank">+55 11 95451-8743</a> </li>
            <li><i class="fa fa-linkedin-square ml-2 mr-2" aria-hidden="true"></i> <a href="https://www.linkedin.com/in/souzawill/" target="blank">https://www.linkedin.com/in/souzawill/</a> </li>
            <li><i class="fa fa-github-square ml-2 mr-2" aria-hidden="true"></i><a href="https://github.com/WillianX47" target="blank">https://github.com/WillianX47</a></li>
            
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- Fim Willian -->